{% extends "layout.html" %}
{% block body_content %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light" id="top" style="background-image: linear-gradient">
  <a class="navbar-brand" href="#"><h2>Ideas - AUTOMATICALLY </h2></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: purple">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Location
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#Europe">Europe</a>
          <a class="dropdown-item" href="#Asia">Asia</a>
          <a class="dropdown-item" href="#NorthAmerica">North & Central America</a>
          <a class="dropdown-item" href="#SouthAmerica">South America</a>
          <a class="dropdown-item" href="#Africa">Africa</a>
          <a class="dropdown-item" href="#Australasia">Australasia</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Adventures">Adventures & Experiences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Animals">Animals & Nature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Sports">Sports & Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Creativity">Creativity</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Financial">Financial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Personal">Personal Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Food">Food & Drink</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Fun">Just For Fun</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#Festivals">Festivals</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<a href="#top" style="position: fixed; bottom: 0; right: 0"><h3>Go To Top</h3></a>

<div id="content" class="container">
  <div id="Europe">
    <h4>Europe</h4>
      <h5>44 Countries</h5>
    <ul>
      <li>Visit every capital city in Europe</li>
      <li>Run the London Marathon</li>
      <li>Visit Big Ben</li>
      <li>Visit Stonehenge during Summer Solstice</li>
      <li>Ride the London Eye</li>
      <li>Climb to the highest point in the U.K</li>
      <li>Ride the zipline at Snowden</li>
      <li>Go to every place on the monopoly board</li>
      <li>Visit the Berlin Wall</li>
      <li>Go to the Brandenburg Gate</li>
      <li>Run in the running of the bulls</li>
      <li>Go to La Tomatina</li>
      <li>Visit Auschwitz</li>
      <li>Go to a coffee shop in Amsterdam</li>
      <li>See the red light district in Amsterdam</li>
      <li>Visit Pompeii</li>
      <li>Visit Mount Vesuvius</li>
      <li>Ride a gondola in Venice</li>
      <li>Visit the leaning tower of Pisa</li>
      <li>Visit the Coliseum in Rome</li>
      <li>Visit Vatican City</li>
      <li>Go to the top of the Eiffel Tower</li>
      <li>Visit the Kremlin in Moscow</li>
      <li>Ride the Trans-Siberian Railway</li>
    </ul>
  </div>
    
 <div id="Asia">
    <h4>Asia</h4>
      <h5>48 Countries</h5>
    <ul>
      <li>Visit every Capital City in Asia</li>
      <li>Visit Angkor Wat in Cambodia</li>
      <li>Visit the Three Holy Mountains in Japan</li>
      <li>Visit Petra in Jordan</li>
      <li>Visit the Taj Mahal in India</li>
      <li>Walk on the Great Wall of China</li>
      <li>Go bungee jumping in the Macau Tower</li>
      <li>Swim in the Dead Sea in Israel</li>
    </ul>
  </div> 

  <div id="NorthAmerica">
    <h4>North & Central America</h4>
      <h5>23 Countries</h5>
    <ul>
      <li>Go to Wrestlemania</li>
      <li>Ride a mechanical bull</li>
      <li>Climb up the Statue of Liberty</li>
      <li>Go to the top of the Empire State Building</li>
      <li>Drive on Route 66</li>
      <li>Visit Death Valley in California</li>
      <li>Spend a weekend in Las Vegas</li>
      <li>Go to the X games</li>
      <li>Go to the Day of the Dead in Mexico</li>
      <li>Visit the Chichen Itza in Mexico</li>
    </ul>
  </div> 

  <div id="SouthAmerica">
    <h4>South America</h4>
      <h5>12 Countries</h5>
    <ul>
      <li>Visit every capital city in South America</li>
      <li>Explore the length of the Amazon river</li>
      <li>Visit the Christ Redeemer</li>
      <li>Visit Mach Picchu in Peru</li>
      <li>Visit the Coloured Mountains in Peru</li>
      <li>See the world's largest water fountain complex( Circuito Magico del Agua) in Peru</li>
      <li>See the Nazca Lines in Peru</li>
    </ul>
  </div> 

  <div id="Africa">
    <h4>Africa</h4>
      <h5>54 Countries</h5>
    <ul>
      <li>Visit every capital city in Africa</li>
      <li>Go to Victoria Falls in Zimbabwe/Zambia</li>
      <li>Visit the Pyramids in Egypt</li>
      <li>Visit the Sphinx in Egypt</li>
      <li>Visit the Sahara Desert</li>
    </ul>
  </div> 

  <div id="Australasia">
    <h4>Australasia</h4>
      <h5>14 Countries</h5>
    <ul>
      <li>Visit every capital city in Australasia</li>
      <li>Listen to an Opera in the Sydney Opera House</li>
      <li>Swim in Lake Hillier</li>
    </ul>
  </div> 

  <div id="Adventures">
    <h4>Adventures & Experiences</h4>
    <ul>
      <li>Step foot on every continent</li>
      <li>Go scuba diving</li>
      <li>Go skydiving</li>
      <li>Go skiing</li>
      <li>Go snowboarding</li>
      <li>Spend a year in another country</li>
      <li>Ride in a hot air balloon</li>
      <li>Ride in a helicopter</li>
      <li>Walk on hot coal</li>
      <li>Jump off a cliff into deep water</li>
      <li>Go water-skiing</li>
      <li>Go on a road trip</li>
      <li>Fire a gun</li>
      <li>Visit an abandoned theme park</li>
      <li>Go to a Cirque de Soleil show</li>
      <li>Go to a concert</li>
      <li>Get a tattoo</li>
      <li>Have at least a half sleeve on my arm</li>
      <li>Get a piercing</li>
      <li>Surf a car</li>
      <li>Watch a meteor shower</li>
      <li>Eat fire</li>
      <li>Walk on a glass bridge</li>
      <li>Walk on a suspension bridge</li>
      <li>Go to a jazz festival</li>
      <li>Go to a drive in movie</li>
      <li>Go to a tattoo festival</li>
      <li>Go to Comicon</li>
      <li>Get acupuncture</li>
      <li>Wear coloured contacts</li>
      <li>Skinny dip</li>
      <li>Walk on a nude beach</li>
      <li>Do a colour run</li>
      <li>Sleep in a haunted house</li>
      <li>Visit a ghost town</li>
      <li>Host a party</li>
      <li>Go camping with friends</li>
    </ul>
  </div> 

  <div id="Animals">
    <h4>Animals & Nature</h4>
    <ul>
      <li>Go dog sledding</li>
      <li>See an ice glacier</li>
      <li>Chase a tornado</li>
      <li>Climb a volcano</li>
      <li>Climb a mountain</li>
      <li>Feed an alligator/crocodile</li>
      <li>Hold a shark</li>
      <li>See an elephant up close</li>
      <li>Hold a monkey</li>
      <li>Watch the Aurora Borealis</li>
      <li>Go on a safari</li>
      <li>Scuba dive in a coral reef</li>
      <li>Stand under a waterfall</li>
      <li>Walk on a black sand beach</li>
      <li>Start a fire without matches</li>
      <li>Ride a camel</li>
      <li>Swim with dolphins</li>
      <li>Sleep in a treehouse</li>
      <li>Sleep in an ice hotel</li>
      <li>Go shark cage diving</li>
      <li>Rescue/adopt an animal</li>
    </ul>
  </div> 

  <div id="Sports">
    <h4>Sports & Entertainment</h4>
    <ul>
      <li>Be on national TV</li>
      <li>Be an extra in a movie</li>
      <li>Be able to do a backflip</li>
      <li>Meet someone famous</li>
      <li>Attend a boxing match</li>
      <li>Attend a film premiere</li>
      <li>See a ballet</li>
      <li>Watch a sumo wrestling match</li>
      <li>Karate chop and break a wooden board</li>
      <li>Play a game of FootGolf</li>
      <li>Bowl a turkey(3 strikes in a row)</li>
      <li>Get box tickets at Wembley</li>
      <li>Go to a football World Cup game</li>
      <li>Go to a football World Cup final</li>
      <li>Go to a champions league final</li>
      <li>Go to an NFL game</li>
      <li>Go to a Superbowl</li>
      <li>Watch a tennis game at Wimbeldon</li>
    </ul>
  </div> 

  <div id="Creativity">
    <h4>Creativity</h4>
    <ul>
      <li>Design your own T-shirt</li>
      <li>Act in a play</li>
      <li>Master a magic trick</li>
      <li>Be published</li>
      <li>Create a piece of Art</li>
      <li>Make a calendar with your own photos</li>
      <li>Be able to make an origami animal</li>
      <li>Take a photography class</li>
      <li>Learn to skate</li>
      <li>Make an album</li>
      <li>Take an improv class</li>
      <li>Make a website</li>
      <li>Make a video game</li>
      <li>Be on Youtube</li>
    </ul>
  </div> 

  <div id="Financial">
    <h4>Financial</h4>
    <ul>
      <li>Go on a cruise ship</li>
      <li>Buy VIP passes</li>
      <li>Make a kiva.com loan</li>
      <li>Fly first class</li>
      <li>Go on a shopping spree</li>
      <li>Drink a bottle of champagne that costs over £1000</li>
      <li>Donate £100000 to charity</li>
      <li>Make a £1000 bet</li>
      <li>Leave a 100% tip</li>
    </ul>
  </div> 

  <div id="Personal">
    <h4>Personal Development</h4>
    <ul>
      <li>Be the best man at a friend's wedding</li>
      <li>Get married</li>
      <li>Have a family</li>
      <li>Build your own house</li>
      <li>Get a degree</li>
      <li>Learn sign language</li>
      <li>Learn to ride a motorbike</li>
      <li>Learn to drive</li>
      <li>Get ordained</li>
      <li>Own a business</li>
      <li>Find a career you love</li>
      <li>Learn another language and use it</li>
      <li>Write a biography</li>
      <li>Attend a random free seminar</li>
      <li>Do 100 hours of volunteer work</li>
      <li>Donate toys at the holidays</li>
      <li>Give blood</li>
      <li>Plant a tree</li>
      <li>Be a guest speaker</li>
      <li>Break a Guiness World Record</li>
    </ul>
  </div> 

  <div id="Food">
    <h4>Food & Drink</h4>
    <ul>
      <li>Have a home bar</li>
      <li>Grow your own fruit or vegetables</li>
      <li>Create your own cocktail</li>
      <li>Make your own wine</li>
      <li>Brew your own beer</li>
      <li>Go to a beer festival</li>
      <li>Dine at a michelin starred restaurant</li>
      <li>Create a signature dish</li>
      <li>Eat in a pitch black restaurant</li>
      <li>Go wine tasting</li>
      <li>Go gin tasting</li>
      <li>Go whiskey tasting</li>
      <li>Cook Christmas dinner</li>
      <li>Drink at a distillery</li>
      <li>Eat an insect</li>
    </ul>
  </div> 

  <div id="Fun">
    <h4>Just for Fun</h4>
    <ul>
      <li>Steal a street sign with your name on it</li>
      <li>Have a sign made because of something you did</li>
      <li>Name a star</li>
      <li>Be asked for your autograph</li>
      <li>Build a house of cards</li>
      <li>Learn how to pick a lock</li>
    </ul>
  </div> 
  
  <div id="Festivals">
    <h4>Festivals</h4>
    <ul>
      <li>Glastonbury</li>
      <li>Leeds & Reading</li>
      <li>Oktoberfest</li>
      <li>Mardi Gras</li>
      <li>Download</li>
      <li>Burning Man</li>
      <li>Meadows in the Mountains</li>
      <li>Boomtown Fair</li>
      <li>Equinox Festival</li>
      <li>Genius Loci Fest</li>
      <li>Primavera Sound</li>
      <li>Isle of Wight Festival</li>
      <li>British Summer Time Hyde Park</li>
      <li>Sziget Festival</li>
      <li>Tomorrowland</li>
      <li>Untold Festival</li>
      <li>Love Supreme Jazz Festival</li>
      <li>North Sea Jazz Festival</li>
      <li>Harbin Ice and Snow Festival</li>
    </ul>
  </div> 

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	
{% endblock body_content %}
