<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>{{ title }} - Page</title> {# {{}} used for a variable set in render_template title #}
</head>
<body>
	<div class="navbar navbar-light sticky-top" style="background-color: #32167d; padding: 20px">
		{% if current_user.is_authenticated %}
			<a href="{{ url_for('my_bucket_list') }}">My Bucket List</a>
			<a href="{{ url_for('community') }}">Community</a>
			<a href="{{ url_for('ideas') }}">Ideas</a>
			<a href="{{ url_for('account') }}">Account</a>
			<a href="{{ url_for('logout') }}">Logout</a>
		{% else %}
			<a href="{{ url_for('community') }}">Community</a>
			<a href="{{ url_for('ideas') }}">Ideas</a>
			<a href="{{ url_for('login') }}">Login</a>
			<a href="{{ url_for('register') }}">Register</a>
		{% endif %}
	</div>
	{% block body_content %}{% endblock %}


</body>
</html>