{% extends "layout.html" %}
{% block body_content %}

	
	<div class="container-fluid" style="text-align: center;">
		<a style='color: blue; border: 4px solid powderblue; font-size: 200%; padding: 5px 20px' type="button" href="{{ url_for('add_to_list') }}">Add item to Bucket List</a>
		{% for post in posts %}
		{% if post.author_of_list == current_user %}
		<div class="container-fluid" style="text-align: left; padding-top: 25px">
			<ul>	
				{% if post._is_done==0 %}
				<li>
					<div id="incomplete">
						<p><a href="{{ url_for('list_item', post_id=post.id) }}" style="color: black"><h4><u>{{ post.title }}</u></h4></a></p>
						{{ post.description }} - Due Date: {{ post.due_date }}
						<br>
						
					</div>
				</li>
				{% endif %}
			</ul>

			{% if post._is_done==1 %}
			<div id="complete">
				<h5><u><b>Complete Items: </b></u></h5>
				<p><a href="{{ url_for('list_item', post_id=post.id) }}"><h4><u>{{ post.title }}</h4></u></a>
				{{ post.description }}</p>
				<br>
			</div>
			{% endif %}
		</div>
		{% endif %}
		{% endfor %}
	</div>
	

{% endblock body_content %}